.Box{
            text-align: center;
            text-transform: uppercase;
            width: 10px;
            padding: 10px 10px;
            margin: 10px;
            color: blue;

        }
        #CSE-13{
        text-align: center;
            text-transform: lowercase;
            width: 10px;
            padding: 10px;
            margin: 10px;
            color: blue;
            }